<template>
  <hero-details
    :hero-name="heroInfo.heroName"
    :hero-desc="heroInfo.heroDesc"
    :hero-img="heroInfo.heroImg"
    :hero-events="heroInfo.heroEvents"
    :hero-comics="heroInfo.heroComics"
    :hero-loaded="heroInfo.heroLoaded"
  />
</template>

<script>
import HeroDetails from "../components/HeroDetails.vue";
export default {
  components: { HeroDetails },
  data: () => ({
    heroInfo: {
      heroName: "Loading Hero...",
      heroDesc: "¡Im Loading your Hero's Data, please wait!",
      heroImg:
        "http://i.annihil.us/u/prod/marvel/i/mg/b/40/image_not_available.jpg",
      heroEvents: 0,
      heroComics: 0,
      heroLoaded: false,
    },
  }),
  created() {
    this.getHeroDetails(this.$route.params.id);
  },
  methods: {
    async getHeroDetails(heroId) {
      this.heroInfo = {
        heroName: "Loading Hero...",
        heroDesc: "¡Im Loading your Hero's Data, please wait!",
        heroImg:
          "http://i.annihil.us/u/prod/marvel/i/mg/b/40/image_not_available.jpg",
        heroEvents: 0,
        heroComics: 0,
        heroLoaded: false,
      };
      const URL = `https://gateway.marvel.com:443/v1/public/characters/${heroId}?ts=1&apikey=3c23802a7d12253adeecda227c04d262&hash=db8581a799932e9197582ba182259097`;

      const res = await fetch(URL);
      const {
        data: { results },
      } = await res.json();
      const hero = results[0];

      this.heroInfo = {
        heroName: hero.name,
        heroDesc: hero.description,
        heroImg: `${hero.thumbnail.path}.${hero.thumbnail.extension}`,
        heroEvents: hero.events.available,
        heroComics: hero.comics.available,
        heroLoaded: true,
      };

      if (this.heroInfo.heroDesc == "") {
        this.heroInfo.heroDesc = "This Hero has No Description.";
      }
    },
  },
};
</script>

<style></style>
