<template>
  <div class="text-bg-dark">
    <the-hero @hero-info="getHeroes" />
    <the-spinner v-show="teamLoading" />
    <the-album :hero-list="heroList" :hero-loaded="heroLoaded" />
  </div>
</template>

<script>
import TheHero from "../components/TheHero.vue";
import TheAlbum from "../components/TheAlbum.vue";
import TheSpinner from "../components/TheSpinner.vue";
export default {
  components: { TheHero, TheAlbum, TheSpinner },
  data: () => ({
    heroList: [],
    heroLoaded: false,
    teamLoading: true,
  }),
  created() {
    this.getHeroes();
  },
  methods: {
    async getHeroes() {
      this.heroLoaded = false;
      this.heroList = [];
      this.teamLoading = true;
      const offset = Math.floor(Math.random() * 1562) + 1;
      const URL = `https://gateway.marvel.com:443/v1/public/characters?limit=3&offset=${offset}&ts=1&apikey=3c23802a7d12253adeecda227c04d262&hash=db8581a799932e9197582ba182259097`;

      const res = await fetch(URL);
      /* Desestructuro el json en data.results[] y luego guardo results[0] en hero para así llamar directo a hero.name o hero.description */
      const {
        data: { results },
      } = await res.json();

      this.heroList = results;
      this.heroLoaded = true;
      this.teamLoading = false;
    },
  },
};
</script>
