<template>
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img
          class="d-block mx-lg-auto img-fluid"
          :src="`${heroImg}`"
          width="700"
          height="500"
        />
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Details For: {{ heroName }}</h1>
        <p class="lead">{{ heroDesc }}</p>
        <p class="lead">
          {{ heroName }} was featured in {{ heroComics }} comics and
          participated in {{ heroEvents }} special events.
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <router-link to="/">
            <button
              v-show="heroLoaded"
              class="btn btn-secondary btn-lg px-4 me-md-2"
              type="button"
            >
              Go Back
            </button>
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    heroName: {
      type: String,
      required: true,
    },
    heroDesc: {
      type: String,
      required: true,
    },
    heroEvents: {
      type: Number,
      required: true,
    },
    heroComics: {
      type: Number,
      required: true,
    },
    heroImg: {
      type: String,
      required: true,
    },
    heroLoaded: {
      type: Boolean,
      required: true,
    },
  },
};
</script>

<style></style>
