<template>
  <div class="album py-5 bg-dark">
    <div class="container">
      <div
        class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 justify-content-center"
      >
        <div v-for="hero in heroList" :key="hero.heroId" class="col">
          <div class="card shadow-sm">
            <img :src="`${hero.thumbnail.path}.${hero.thumbnail.extension}`" />
            <div class="card-body">
              <h5 class="card-title text-dark">{{ hero.name }}</h5>
              <p class="card-text text-secondary">
                {{ hero.description || "This Hero has no Description." }}
              </p>
              <router-link :to="`/hero/${hero.id}`">
                <button
                  v-show="heroLoaded"
                  type="button"
                  class="btn btn-secondary"
                >
                  Hero Details
                </button>
              </router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    heroList: {
      type: Array,
    },
    heroLoaded: {
      type: Boolean,
      required: true,
    },
  },
};
</script>
