<template>
  <section class="py-5 text-center container bg-dark">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-bold text-white">Random Marvel Team</h1>
        <p class="lead text">
          Welcome! Click the button below to get a random Marvel Comics Team.
          I've made this with the Marvel API and using VUE.js as a Framework.
        </p>
        <p class="lead text">
          You can click Hero Details to view some more info about each hero in
          the team.
        </p>
        <p>
          <a @click="$emit('hero-info')" class="btn btn-secondary my-2"
            >GET A Team!</a
          >
        </p>
      </div>
    </div>
  </section>
</template>
